<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!--
        <mapping class="com.github.experimental.strategy.join.Author" />
        <mapping class="com.github.experimental.strategy.join.Book" />
         -->
    </session-factory>
</hibernate-configuration>